<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>User</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card ng-if="user">
    <img [src]="user.image"/>
    <ion-card-content>
      <ion-card-title>
        {{user.name}}
      </ion-card-title>
      <p>
        This is an example app of authentication using Firebase in an Ionic 3 app.
      </p>
    </ion-card-content>
    <button class="redes" *ngIf="user" ion-button block type="button" (click)='logout(user.provider)'>Logout</button>
    <!-- <button class="user" *ngIf="!user" ion-button block type="button" (click)='cerrarSesion()'>Logout</button> -->
  </ion-card>
  <!-- <ion-card>
    <img [src]="usuarioByID.photoURL"/>
    <ion-card-content>
      <ion-card-title>
        {{usuarioByID.displayName}}
      </ion-card-title>
      <p>
        This is an example app of authentication using Firebase in an Ionic 3 app.
      </p>
    </ion-card-content>
    <button ion-button block type="button" (click)='cerrarSesion()'>Logout</button>
  </ion-card> -->
</ion-content>
