page-agregar-comercio {
    
    .mapa, .imagen{
        height:200px;
        width:100%;
        background-color:aqua;
    }

    button{
        margin-top: 30px;
        margin-left: 20px;
    }

    ion-textarea{
        height: 100%;
    }
}
